*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #78a6eb, #9a9be6, #b98ed8, #d281c2, #e276a6);
}
.container{
    display: flex;
    height: 100vh;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    font-size: 45px;
}
h1{
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    
}